networks:
  monitor_net:
    driver: bridge

volumes:
  loki-data: {}
  prometheus-data: {}
  grafana-data: {}

services:

  loki:
    image: grafana/loki:3.6.3
    container_name: loki
    user: "0:0"
    volumes:
      - ./loki:/loki
      - loki-data:/loki/data
    command: -config.file=/loki/loki.yaml
    ports:
      - "3100:3100"
    networks:
      - monitor_net
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yaml:/etc/prometheus/prometheus.yaml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
      - '--storage.tsdb.retention.time=30d' # Хранение метрик 30 дней
      - '--web.enable-lifecycle'
      - '--web.enable-remote-write-receiver'
    ports:
      - "9090:9090"
    networks:
      - monitor_net
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - grafana-data:/var/lib/grafana
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
    ports:
      - "3000:3000"
    networks:
      - monitor_net
    depends_on:
      - loki
      - prometheus
    restart: unless-stopped

