apiVersion: 1

datasources:
- name: Prometheus
  uid: prometheusuid
  type: prometheus
  access: proxy
  orgId: 1
  url: http://prometheus:9090
  isDefault: true
  version: 1
  editable: true

- name: Loki
  uid: lokiuid
  type: loki
  access: proxy
  orgId: 1
  url: http://loki:3100 
  version: 1
  editable: true